* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 12px;
}
body {
  align-items: center;
  background-image: url('../img/1.png');
  /* === if You prefer picture background color, just comment image and uncommnet what is below, :) == */
  /* background-color: #130c20; */
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex: 1;
  font-size: 2em;
  min-height: 100vh;
  text-align: center;
}
.clock {
  border: 8px solid #902ff2;
  border-radius: 50%;
  box-shadow:
    0 0 0px 4px rgba(0,0,0,.1),
    inset 0 0 0 3px #EFEFEF,
    inset 0 0 0 4px #00ffbf,
    0 0 10px rgba(0,0,0,.2);
  height: 30rem;
  margin: 50px auto;
  padding: 2rem;
  position: relative;
  width: 30rem;
}
.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px);
}
.hand {
  transform-origin: 100%;
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.5, 1); /* =odpowiada za ruch wskazowki wychyla sie przy poruszaniu =*/
}
.hour-hand {
  background: #EFEFEF;
  height: 4px;
  left: 10%;
  position: absolute;
  top:50%;
  width: 40%;
}
.min-hand {
  background: #EFEFEF;
  height: 4px;
  position: absolute;
  top:50%;
  width: 50%;
}
.second-hand {
  background: #902ff2;
  height: 4px;
  position: absolute;
  top:50%;
  width: 50%;
}
